<a rel="noreferrer noopener" target="_blank" href="{{ inviteUserLink }}">
    <span class="icon-user-add"></span>
    {{ 'UsersManager_InviteTeamMember'|translate }}
</a>
{{ postEvent('Template.siteWithoutData.additionalCta') }}
